body{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    height: 100vh !important;
    
}

.col-md-5{
    margin-top: 150px !important;
    padding: 20px !important;    
    background-color: white;
}

h1{
    margin: 17px !important;
    font-weight: bolder !important;
    text-align: center;
   padding-bottom: 25px !important;
}

input{
    display: inline !important;
    width: 85% !important;
    margin-bottom: 15px !important;
}

button{
    margin-left: 15px !important;
    position: relative;
    top: -3px;
}

li{
    font-weight: bold;
    list-style: none;
    font-size: 17px !important;
    display: inline;
    width: 70%;
    margin: 10px !important;
   
}

i{
    color: red;
    margin: 10px !important;
}
